.DS_Store
__pycache__/
*.pyc
env/
venv/
stockenv/
.idea/
dataset/
.venv/
.ipynb_checkpoints/
*.sqlite3
*.db
*.log
*.pot
*.mo
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.iml